
body 
{ height: 1350px;
  background-color: #131D26;
  background-image: linear-gradient(#131D26, #59331D); }

header 
{ background-color: black; }



.aboutlinks  
{ list-style-type: none;
  display: flex;
  margin: 20;
  padding: 0;
  overflow: hidden;
  background-color: black; }

.aboutlinks li 
{ float: right;
  padding: 40px 10px; }

.aboutlinks li a 
{ display: inline-block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
 }

.aboutlinks img 
{ text-align: right;
  background-color: #000000;
 padding: 14px 16px; }




.beansheader 
{ position: relative; }

.beansheader img 
{ width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block; }
 
.beansheader h2 
{ position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); }






footer {
  background-color: #000000;
  text-align: center;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 40px;
}

footer h1 {
  font-size: 8px;
  color: white;
  font-family: "Martian Mono", sans-serif;
}

.footerlinks li { 
  text-align: center;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  display: inline-block; }

.footerlinks li a {
  color: rgb(230, 230, 230);
  font-family: "Poppins", sans-serif;
}

.footerlinks p {
    color: rgb(221, 221, 221);
    font-family: "Martian Mono", sans-serif;
    font-size: 12px;
  }




  {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
    top: 20px;
    gap: 20px;
  }
  
  .flex-item-1 {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 33%;
    border-radius: 5px;
  }
  
  .flex-item-2 {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 33%;
    border-radius: 5px;
  }

  .flex-item-3 {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 33%;
    border-radius: 5px;
  }

  .flex-container h1 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  }

  .flex-container p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
  }


  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .aboutlinks {
      flex-direction: column;
      text-align: right;
    }
    .aboutlinks li  {
      flex-direction: column;
      text-align: right;
      padding: 0px;
    }
    body {
      height: max-content;
      background-color: #131D26;
      background-image: linear-gradient(#131D26, #59331D);  
    }
    
  }